<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/logo.png') }}" height="30" class="d-inline-block align-top" alt="">
        Deriv Bot
      </a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dashboard') }}">
              <i class="fas fa-chart-line"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('marketplace.index') }}">
              <i class="fas fa-store"></i> Marketplace
            </a>
          </li>
          {% endif %}
        </ul>
        
        <ul class="navbar-nav ms-auto">
          {% if current_user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
              <img src="{{ current_user.avatar_url or url_for('static', filename='images/default-avatar.png') }}" 
                   width="30" height="30" class="rounded-circle me-1">
              {{ current_user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-end">
              <a class="dropdown-item" href="{{ url_for('auth.profile') }}">
                <i class="fas fa-user-circle"></i> Profile
              </a>
              <a class="dropdown-item" href="{{ url_for('auth.settings') }}">
                <i class="fas fa-cog"></i> Settings
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.login') }}">
              <i class="fas fa-sign-in-alt"></i> Login
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('auth.register') }}">
              <i class="fas fa-user-plus"></i> Register
            </a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>